<!DOCTYPE html>
<html lang="az">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="ASPA GROUP - Informatika, Frontend, Backend və IT təhlükəsizlik kursları."
    />
    <meta
      name="keywords"
      content="informatika, kurs, frontend, backend, react, python, proqramlaşdırma"
    />
    <meta name="author" content="ASPA GROUP" />
    <title>ASPA GROUP</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='img/ico.png') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body style="padding-top: 110px" data-bs-spy="scroll">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="{{ url_for('static', filename='img/aspa.png') }}"
            class="img-fluid"
            alt="ASPA Logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#hesabat">Teleqram test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#yazili">Yazılı test</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#quizz">Onlayn imtahan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cedvel">Dərs cədvəli</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Əlaqə</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Karusel -->
    <div
      id="carouselExampleCaptions"
      class="carousel slide container"
      data-bs-interval="3000"
      data-bs-ride="carousel"
      data-aos="fade-down"
      data-aos-delay="10"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{{ url_for('static', filename='img/information.jpg') }}"
            class="d-block w-100"
            loading="eager"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="text-shadow: 5px 5px 5px black"
          >
            <h3>İnformatika</h3>
            <p>10-cu və 11-ci siniflər üçün abituriyent hazırlığı</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ url_for('static', filename='img/front.png') }}"
            class="d-block w-100"
            loading="lazy"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="text-shadow: 5px 5px 5px black"
          >
            <h3>FrontEnd Developer</h3>
            <p>HTML, CSS, Git, GitHub, Bootstrap, JavaScript</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ url_for('static', filename='img/mern.png') }}"
            class="d-block w-100"
            loading="lazy"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="text-shadow: 5px 5px 5px black"
          >
            <h3>BackEnd Developer</h3>
            <p>ReactJS, MongoDB, ExpressJS, NodeJS və ya PHP, MySQL</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="{{ url_for('static', filename='img/security.jpeg') }}"
            class="d-block w-100"
            loading="lazy"
          />
          <div
            class="carousel-caption d-none d-md-block"
            style="text-shadow: 5px 5px 5px black"
          >
            <h3>İnformasiya Təhlükəsizliyi</h3>
            <p>
              Kali Linux, İP, DNS, VPN, MAC, Sosial Mühəndislik, DOS, DDOS,
              Nessus, Nmap, Shodan, OSİ Model, Cisco nwtwork, SQL, Python
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- Teleqram hesabat -->
    <div
      class="container mb-3 mt-4 img-thumbnail"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <div
        id="hesabat"
        style="scroll-margin-top: 110px"
        class="accordion mb-3 mt-2"
        id="accordionExample"
      >
        <h2 class="mt-3 mb-4 pulse-title">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 240 240"
            style="vertical-align: middle; margin-right: 5px"
          >
            <path
              fill="#0088CC"
              d="M120 0C53.73 0 0 53.73 0 120s53.73 120 120 120 120-53.73 120-120S186.27 0 120 0zm58.73 82.32l-23.45 110.77c-1.77 7.72-6.44 9.64-13.06 6l-36.14-26.63-17.44 16.77c-1.93 1.93-3.53 3.53-7.22 3.53l2.58-36.31 66.05-59.72c2.87-2.58-0.63-4.03-4.45-1.45L87.2 114.2l-35.91-11.2c-7.78-2.42-7.94-7.78 1.63-11.53l138.81-53.51c6.44-2.42 12.17 1.45 10.01 11.36z"
            />
          </svg>
          Teleqram test sualları hesabatı
        </h2>
        <div class="accordion mb-3" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <p class="ders">💻 Gündəlik Hesabat</p>
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table table-striped">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <!-- <th scope="col">Sual</th> -->
                    <th scope="col">Düz</th>
                    <th scope="col">Səhv</th>
                    <th scope="col">Boş</th>
                    <th scope="col">Faiz</th>
                  </tr>
                  {% for row in daily %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.user_name }}</td>
                    <!-- <td>{{ row.sual_sayi }}</td> -->
                    <td>{{ row.duz }}</td>
                    <td>{{ row.sehv }}</td>
                    <td>{{ row.cavabsiz | int }}</td>
                    <td>{{ row.faiz }}%</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <p class="ders">📅 Həftəlik Hesabat</p>
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table table-striped">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <!-- <th scope="col">Sual</th> -->
                    <th scope="col">Düz</th>
                    <th scope="col">Səhv</th>
                    <th scope="col">Boş</th>
                    <th scope="col">Faiz</th>
                  </tr>
                  {% for row in weekly %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.user_name }}</td>
                    <!-- <td>{{ row.sual_sayi }}</td> -->
                    <td>{{ row.duz }}</td>
                    <td>{{ row.sehv }}</td>
                    <td>{{ row.cavabsiz }}</td>
                    <td>{{ row.faiz }}%</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <p class="ders">🌍 Ümumi Hesabat</p>
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <table class="table table-striped">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <!-- <th scope="col">Sual</th> -->
                    <th scope="col">Düz</th>
                    <th scope="col">Səhv</th>
                    <th scope="col">Boş</th>
                    <th scope="col">Faiz</th>
                  </tr>
                  {% for row in overall %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.user_name }}</td>
                    <!-- <td>{{ row.sual_sayi }}</td> -->
                    <td>{{ row.duz }}</td>
                    <td>{{ row.sehv }}</td>
                    <td>{{ row.cavabsiz }}</td>
                    <td>{{ row.faiz }}%</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Yazılı imtahan nəticəsi -->
    <div
      class="container img-thumbnail mt-4"
      data-aos="fade-up"
      data-aos-delay="200"
      id="yazili"
      style="scroll-margin-top: 110px"
    >
      <h2 class="mt-3 mb-4 pulse-title">📝 Yazılı test imtahan nəticəsi</h2>

      <div class="swiper">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/mitri.png') }}"
              loading="eager"
              alt="Şəkil"
            />
            <div class="card-body text-center text-center">
              <h3>Mirsəid Həsənov</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 5</h6>
              <h6>Açıq sual yazılı: 2.33</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 88.40 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/nur.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Nuriyyə Əmiraslanova</h3>
              <hr />
              <h6>Qapalı sual düz: 19</h6>
              <h6 id="sehv">Qapalı sual yanlış: 3</h6>
              <h6>Açıq sual düz: 4</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 85.60 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/elcan.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Elcan Rüstəmov</h3>
              <hr />
              <h6>Qapalı sual düz: 22</h6>
              <h6 id="sehv">Qapalı sual yanlış: 0</h6>
              <h6>Açıq sual düz: 4</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 97 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/yusif.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Yusif Abas</h3>
              <hr />
              <h6>Qapalı sual düz: 21</h6>
              <h6 id="sehv">Qapalı sual yanlış: 1</h6>
              <h6>Açıq sual düz: 4</h6>
              <h6>Açıq sual yazılı: 2</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 87.10 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/miri.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Mirsaleh Həsənov</h3>
              <hr />
              <h6>Qapalı sual düz: 21</h6>
              <h6 id="sehv">Qapalı sual yanlış: 1</h6>
              <h6>Açıq sual düz: 5</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 96.20 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/nihad.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Nihad Cəfərov</h3>
              <hr />
              <h6>Qapalı sual düz: 21</h6>
              <h6 id="sehv">Qapalı sual yanlış: 1</h6>
              <h6>Açıq sual düz: 1</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 84.10 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/suad.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Məcid Nəbizadə</h3>
              <hr />
              <h6>Qapalı sual düz: 10</h6>
              <h6 id="sehv">Qapalı sual yanlış: 6</h6>
              <h6>Açıq sual düz: 0</h6>
              <h6>Açıq sual yazılı: 0</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 25.80 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ali.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Əli Cəfərov</h3>
              <hr />
              <h6>Qapalı sual düz: 11</h6>
              <h6 id="sehv">Qapalı sual yanlış: 4</h6>
              <h6>Açıq sual düz: 0</h6>
              <h6>Açıq sual yazılı: 0</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 30.30 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/nazim.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Nazim Namazov</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 2</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 77.30 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ramo.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Ramiz Rəfizadə</h3>
              <hr />
              <h6>Qapalı sual düz: 16</h6>
              <h6 id="sehv">Qapalı sual yanlış: 6</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 2.33</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 64.10 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ahmed.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Əhmədağa Rəhimli</h3>
              <hr />
              <h6>Qapalı sual düz: 21</h6>
              <h6 id="sehv">Qapalı sual yanlış: 1</h6>
              <h6>Açıq sual düz: 4</h6>
              <h6>Açıq sual yazılı: 2.66</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 91.10 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/aysel.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Aysel Abdullayeva</h3>
              <hr />
              <h6>Qapalı sual düz: 17</h6>
              <h6 id="sehv">Qapalı sual yanlış: 5</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 72 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/alizamin.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Əlizamin Əlizadə</h3>
              <hr />
              <h6>Qapalı sual düz: 22</h6>
              <h6 id="sehv">Qapalı sual yanlış: 0</h6>
              <h6>Açıq sual düz: 3</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 93.90 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/tahir.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Tahir Məmmədli</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 1</h6>
              <h6>Açıq sual yazılı: 2.66</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 78.20 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ilham.jpg') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>İlham Hüseynov</h3>
              <hr />
              <h6>Qapalı sual düz: 18</h6>
              <h6 id="sehv">Qapalı sual yanlış: 4</h6>
              <h6>Açıq sual düz: 3</h6>
              <h6>Açıq sual yazılı: 2.66</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 76.70 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/rianna.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Rianna Osadçaya</h3>
              <hr />
              <h6>Qapalı sual düz: 14</h6>
              <h6 id="sehv">Qapalı sual yanlış: 8</h6>
              <h6>Açıq sual düz: 0</h6>
              <h6>Açıq sual yazılı: 0</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 36.40 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/suad.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Suad Əlixanlı</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 4</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 89.40 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ismayil.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>İsmayıl Qasımov</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 2.66</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 84.30 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/zeka.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Zəka Allahyarov</h3>
              <hr />
              <h6>Qapalı sual düz: 20</h6>
              <h6 id="sehv">Qapalı sual yanlış: 2</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 2.33</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 79.30 bal</h4>
            </div>
          </div>

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/aliska.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Əli Hüseynov</h3>
              <hr />
              <h6>Qapalı sual düz: 17</h6>
              <h6 id="sehv">Qapalı sual yanlış: 5</h6>
              <h6>Açıq sual düz: 0</h6>
              <h6>Açıq sual yazılı: 0</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 47.70 bal</h4>
            </div>
          </div>

          <!-- <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/ruslan.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Ruslan Cəfərov</h3>
              <hr />
              <h6>Qapalı sual düz: 19</h6>
              <h6 id="sehv">Qapalı sual yanlış: 3</h6>
              <h6>Açıq sual düz: 3</h6>
              <h6>Açıq sual yazılı: 2.66</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 80.50 bal</h4>
            </div>
          </div> -->

          <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/fatos.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Fatimə Fərzəli</h3>
              <hr />
              <h6>Qapalı sual düz: 21</h6>
              <h6 id="sehv">Qapalı sual yanlış: 1</h6>
              <h6>Açıq sual düz: 3</h6>
              <h6>Açıq sual yazılı: 3</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 90.20 bal</h4>
            </div>
          </div>

          <!-- <div class="swiper-slide">
            <img
              src="{{ url_for('static', filename='img/sadig.png') }}"
              loading="lazy"
              alt="Şəkil"
            />
            <div class="card-body text-center">
              <h3>Sadiq Namazlı</h3>
              <hr />
              <h6>Qapalı sual düz: 17</h6>
              <h6 id="sehv">Qapalı sual yanlış: 5</h6>
              <h6>Açıq sual düz: 2</h6>
              <h6>Açıq sual yazılı: 1.33</h6>
              <hr />
              <h4 class="btn btn-info text-white">Ümumi: 61.80 bal</h4>
            </div>
          </div> -->

        </div>

        <!-- Navigasiya düymələri -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>

    <!-- Quizz hesabat -->
    <div
      class="container img-thumbnail mt-4 pb-3"
      data-aos="fade-up"
      data-aos-delay="200"
      id="quizz"
      style="scroll-margin-top: 110px"
    >
      <h2 class="mt-3 mb-4 pulse-title">📊 Onlayn imtahan nəticələri</h2>
      <div class="card-body">
        <div class="table-responsive-quizz">
          <table class="table table-bordered table-striped align-middle mb-0">
            <thead>
              <tr>
                {% for col in table_data[0] %}
                <th class="bg-info text-white">
                  <div class="vertical-header">{{ col }}</div>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in table_data %}
              <tr
                class="{% if row['Ortalama imtahan nəticəsi %'] < 70 %}table-danger{% elif row['Ortalama imtahan nəticəsi %'] < 85 %}table-warning{% elif row['Ortalama imtahan nəticəsi %'] < 90 %}table-success{% else %}table-info{% endif %}"
              >
                {% for col in row %} {% if col == 'Abituriyentlərin ad və soyadı' %} {# Ad sütunu #}
                <td class="col-ad">
                  {{ row[col] if row[col] == row[col] else '-' }}
                </td>
                {% else %}
                <td class="col-min">
                  {{ row[col] if row[col] == row[col] else '-' }}
                </td>
                {% endif %} {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Dərs Cədvəli -->
    <div
      class="container mb-3 mt-5 img-thumbnail"
      data-aos="fade-up"
      data-aos-delay="200"
      id="cedvel"
      style="scroll-margin-top: 110px"
    >
      <h2 class="mt-3 mb-4 pulse-title">⏰ Dərs cədvəli:</h2>
      <div class="accordion mb-3" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse1"
              aria-expanded="true"
              aria-controls="collapse1"
            >
              <p class="ders">Informatika 10-cu siniflərin dərs cədvəli</p>
            </button>
          </h2>
          <div
            id="collapse1"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-3">
              <p>1-ci gün saat 19:30</p>
              <p>6-cı gün saat 17:30</p>
              <p>Bazar günü saat 17:30 (Python əlavə)</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2"
              aria-expanded="false"
              aria-controls="collapse2"
            >
              <p class="ders">Informatika 11-ci siniflərin dərs cədvəli</p>
            </button>
          </h2>
          <div
            id="collapse2"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-3">
              <p>3-cü gün saat 19:30</p>
              <p>6-cı gün saat 19:30</p>
              <p>Bazar günü saat 15:30 (Python əlavə)</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse3"
              aria-expanded="false"
              aria-controls="collapse3"
            >
              <p class="ders">FrontEnd "TEAMİS" qrupunun dərs cədvəli</p>
            </button>
          </h2>
          <div
            id="collapse3"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-3">
              <p>2-ci gün saat 19:30</p>
              <p>6-cı gün saat 14:00</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse4"
              aria-expanded="false"
              aria-controls="collapse4"
            >
              <p class="ders">"AMGML" qrupunun (JavaScript) dərs cədvəli</p>
            </button>
          </h2>
          <div
            id="collapse4"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-3">
              <p>2-ci gün saat 18:00</p>
              <p>6-cı gün saat 12:30</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse5"
              aria-expanded="false"
              aria-controls="collapse5"
            >
              <p class="ders">"NoName" qrupunun (ReactJS) dərs cədvəli</p>
            </button>
          </h2>
          <div
            id="collapse5"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body p-3">
              <p>1-ci gün saat 18:00</p>
              <p>6-cı gün saat 15:30</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Xəritə -->
    <div
      class="container my-5 img-thumbnail"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      <h2 class="mt-3 mb-4 pulse-title" id="contact" style="scroll-margin-top: 110px">
        📍 ASPA GROUP education center
      </h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.0286757950935!2d49.90077247682011!3d40.38605705750426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d8144e08d71%3A0xbdfda3ce222b3ed3!2sASPA%20Education%20Center!5e0!3m2!1saz!2saz!4v1757666863842!5m2!1saz!2saz"
        width="100%"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>

    <!-- Whatsapp -->
    <div class="container">
      <a
        href="https://wa.me/+994508412120"
        target="_blank"
        class="whatsapp-button"
      >
        <img
          src="{{ url_for('static', filename='img/wp.png') }}"
          alt="WhatsApp"
        />
      </a>
    </div>

    <!-- Footer -->
    <div class="bg-dark text-light d-flex justify-content-center">
      <div style="line-height: 4; text-align: center">
        All rights reserved &copy; 2025 Site by Elmaddin Ahmadzada
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
